*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
}


/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

/*Apply styles after scroll end*/


/* Hero Demo Content*/
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpeg") center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-logo{
    width: 250px;
    margin-left: 45%;
}

.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}

.stats{
    width: 100%;
    height: 450px;
}

.column1, .column2, .column3 {
    width: 25%;
    height: 450px;
    padding: 10px;
    margin-top: 10px;
    float: left;
    border-right: 2px solid rgba(0, 0, 0,.05);
}

.column4 {
    width: 25%;
    height: 450px;
    padding: 10px;
    margin-top: 10px;
    float: right;
}

.card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px;
    grid-template-areas: "text";
    
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text h1 {
    margin-top: 0px;
    font-size: 20px;
}
.card-text span {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}