<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>China Spring Living</title>

    <link rel="stylesheet" href="static/css/styles.css"/>

</head>

<body id="page-top">
    <div class="hamburger-container">
        <div class="hamburger-button" onclick="xFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class=hamburger-links id="myLinks">
            <a href="#">Community</a>
            <br>
            <a href="#">About</a>
            <br>
            <a href="#">Schedule Call</a>
            <br>
            <a href="#">Find Home</a>
        </div>
    </div>
    <header>
        <div class="container">
            <nav class="nav">
                    <img src="static/img/NSRLogo.png" class="logo" alt="Logo" href="index.html">
                <ul class="nav-list">
                    <li>
                        <a href="#" class="nav-link">Community</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Schedule Call</a>
                    </li>
                </ul>
                <a href="#" id="nav-cta">Find Home</a>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-container">
            <img src="static/img/AC.png" class="hero-logo" alt="allcity">
            <img src="static/img/CSL1.png" class="csl-logo" alt="cslLogo">
        </div>
    </section>
    <section id="community" class="demo-content">
        <div class="card">
            <div class="card-text">
                <h1>Median Days on Market</h1>
                <span>37 Days</span>
            </div>
        </div>
        <div class="card">
            <div class="card-text">
                <h1>Median Price Per Square Foot</h1>
                <span>$220 per sqft</span>
            </div>
        </div>
        <div class="card">
            <div class="card-text">
                <h1>Median Home Value in China Spring</h1>
                <span>$360,000</span>
            </div>
        </div>
        <div class="card">
            <div class="card-text">
                <h1>Median Home Value in McLennan</h1>
                <span>$142,600</span>
            </div>
        </div>
    </section>
    <section id="about" class="about-content">
        <div class="about-paragraphs">
            <div class="grid-container">
                <div class="item1">Spacious homes and lots of land. That’s what life is like in China Spring, Texas. The short number of median days on market shows that there is still undeniably high demand to move to the China Spring area. With a median price per square foot of nearly double that of the Waco area and with multiple acres accompanying each property, these homes and acreages are seen as a much better investment opportunity than anywhere else in Central Texas.</div>
                <a class="source-link" href="https://www.movoto.com/china-spring-tx/market-trends/">Source</a>
            </div>
        </div>
    </section>
    <section id="schedule" class="schedule-content">
        <!-- Calendly inline begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/projdevkr"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline end -->  
    </section>
    <section id="contact" class="contact-me">
        <form>
            <fieldset>
                <label>First Name: <input type="text" id="first-name" name="first-name" required/></label>
                <br>
                <label>Last Name: <input type="text" id="last-name" name="last-name" required/></label>
                <br>
                <label>Phone Number: <input type="text" id="phone-number" name="phone-number" required/></label>
                <br>
                <label>Email: <input type="text" id="email" name="email" required/></label>
                <br>
                <label>Price Range: <br><input type="text" class="min" id="min" placeholder="Min" required/> - <input type="text" class="max" id="max" placeholder="Max" required/></label>
            </fieldset>
            <fieldset class="selector-fields">
                <div class="selectors">
                    <div class="selector-items">
                        <h2>Bedrooms</h2>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bedrooms" required/> 1+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bedrooms" required/> 2+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bedrooms" required/> 3+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bedrooms" required/> 4+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bedrooms" required/> 5+ </label>
                    </div>
                    <div class="selector-items">
                        <h2>Bathrooms</h2>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bathrooms" required/> 1+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bathrooms" required/> 2+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bathrooms" required/> 3+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bathrooms" required/> 4+ </label>
                        <label class="radio-selectors"><input type="radio" class="inline" name="bathrooms" required/> 5+ </label>
                    </div>
                    <div class="selector-items">
                        <h2>Home Types</h2>
                        <label class="house-selectors"><input type="checkbox" class="inline" name="house-types" required/> House </label>
                        <label class="house-selectors"><input type="checkbox" class="inline" name="house-types" required/> Townhome </label>
                        <label class="house-selectors"><input type="checkbox" class="inline" name="house-types" required/> Multi-family </label>
                        <label class="house-selectors"><input type="checkbox" class="inline" name="house-types" required/> Condos/Co-op </label>
                        <label class="house-selectors"><input type="checkbox" class="inline" name="house-types" required/> Lots/Land </label>
                        <label class="house-selectors"><input type="checkbox" class="inline" name="house-types" required/> Manufactured </label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="selector-fields-mortgage">
                <h2>Have you been preapproved for a mortgage?</h2>
                <div class="selector-items">
                    <label class="radio-selectors"><input type="radio" class="inline" name="mortgage" required/> Yes </label>
                    <label class="radio-selectors"><input type="radio" class="inline" name="mortgage" required/> Not yet </label>
                    <label class="radio-selectors"><input type="radio" class="inline" name="mortgage" required/> Not yet - please introduce me to a mortgage broker </label>
                    <label class="radio-selectors"><input type="radio" class="inline" name="mortgage" required/> I'm offering cash </label>
                </div>
            </fieldset>
            <fieldset class="selector-fields-property">
                <h2>Do you have a property to sell?</h2>
                <div class="selector-items">
                    <label class="radio-selectors"><input type="radio" class="inline" name="property-to-sell" required/> Yes </label>
                    <label class="radio-selectors"><input type="radio" class="inline" name="property-to-sell" required/> No </label>
                </div>
            </fieldset>
            <fieldset class="contact-field">
                <h2>Any additional information:</h2>
                <textarea row="3" cols="30" name="comment-box" placeholder="Questions, comments or concerns..."></textarea>
                <input class="submit grow" type="submit" value="Send message"/>
            </fieldset>
        </form>
    </section>

    <script src="/static/js/main.js"></script>
</body>

</html>